.about {
  width: 100%;
  background: url(../../assets/images/background2.jpg) no-repeat fixed center;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.line {
  margin-top: 30px;
  height: 50px;
  width: 2px;
  background-color: #f0b45b;
  margin-bottom: 10px;
}

.about .title {
  font-family: var(--font-primary);
}

.about .description {
  font-family: var(--font-secondary);
  width: 50%;
  margin-bottom: 50px;
}

.about .gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 580px;
  width: 60%;
  min-width: 60%;
  gap: 10px;
}

.post h3 {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

.post p {
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery .post {
  max-height: 550px;
  position: relative;
}

.gallery .post:nth-child(1) {
  width: 80%;
  height: 100%;
}

.posts .post:nth-child(1),
.posts .post:nth-child(4) {
  flex: 1 0 60%;
  height: 50%;
  position: relative;
}

.posts .post:nth-child(2),
.posts .post:nth-child(3) {
  flex: 1 0 35%;
  height: 50%;
  position: relative;
}

.gallery .posts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 550px;
  width: 100%;
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .text-overlay {
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: #fff;
  background-color: #e4e0df;
  padding: 10px;
  width: 40%;
  color: #000;
  text-align: left;
}

.text-overlay p {
  display: none;
  color: #b6b6b6;
}

.text-overlay:hover > p {
  display: block;
  transition: all 300ms ease;
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .gallery .post {
    width: 100%;
    height: 100%;
  }

  .gallery .posts {
    display: flex;
    flex-direction: column;
  }

  .posts .post:nth-child(1),
  .posts .post:nth-child(4),
  .posts .post:nth-child(2),
  .posts .post:nth-child(3) {
    width: 50%;
    height: 100px;
  }

  .post .text-overlay {
    width: 90%;
  }

  .post .text-overlay h3 {
    font-size: 1rem;
  }
}
